<template name="ComponentName">

  <!-- Till the specs decide what to do with the css, this is good enough
  just keep the name of the file in sync and don't change the macro -->
  <link rel="stylesheet" href="{{route}}ComponentName.css">

  <!-- HTML template here -->
</template>
<script type="text/javascript" src="ComponentName.js"></script>