<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  	<meta name="format-detection" content="telephone=no">
    <title>{{P_NAME}}</title>
    <script type="text/javascript" src="assets/lib/script.js"></script>
    <script type="text/javascript" src="assets/lib/WebComponent.js"></script>
</head>

<body>

</body>

</html>
