<template name="WebCHeader">
  <link rel="stylesheet" href="{{route}}WebCHeader.css">
  <header class="webc-header">
    <h1 class="webc-header__title">
      <span data-observe="title"></span>
      <span data-observe="count" ></span>
    </h1>
    <p data-observe="message" class="webc-header__message"></p>
    <slot></slot>
  </header>
</template>
<script type="text/javascript" src="WebCHeader.js"></script>